// Debug.xcconfig
#include "Base.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = com.drunkonjava.nestory.dev
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG DEV_ENVIRONMENT INJECTION_ENABLED
GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1 DEV_ENVIRONMENT=1
SWIFT_OPTIMIZATION_LEVEL = -O
SWIFT_COMPILATION_MODE = wholemodule
ENABLE_TESTABILITY = YES
ONLY_ACTIVE_ARCH = YES
DEBUG_INFORMATION_FORMAT = dwarf
COPY_PHASE_STRIP = NO
ENABLE_NS_ASSERTIONS = YES
ENABLE_STRICT_OBJC_MSGSEND = YES
ENABLE_DEBUG_DYLIB = YES
CLOUDKIT_ENVIRONMENT = Development

// Hot reload support for InjectionNext
OTHER_LDFLAGS = $(inherited) -Xlinker -interposable
OTHER_SWIFT_FLAGS = $(inherited) -DINJECTION_ENABLED