// Release.xcconfig
#include "Base.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = com.drunkonjava.nestory
SWIFT_ACTIVE_COMPILATION_CONDITIONS = RELEASE_ENVIRONMENT
GCC_PREPROCESSOR_DEFINITIONS = RELEASE_ENVIRONMENT=1 NDEBUG=1
SWIFT_OPTIMIZATION_LEVEL = -O
ENABLE_TESTABILITY = NO
ONLY_ACTIVE_ARCH = NO
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
COPY_PHASE_STRIP = YES
ENABLE_NS_ASSERTIONS = NO
VALIDATE_PRODUCT = YES
SWIFT_COMPILATION_MODE = wholemodule
CLOUDKIT_ENVIRONMENT = Production